# Build outputs
bin/
obj/
publish/
publish-small/

# Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

# Rider
.idea/

# NuGet
*.nupkg

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
